<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />
    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"
            tools:node="remove" />
    <uses-feature android:name="android.hardware.camera" />
    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
            android:name=".CofiApp"
            android:allowBackup="true"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:localeConfig="@xml/locales_config"
            android:supportsRtl="true"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Theme.Cofi">
        <profileable
                android:enabled="${profileable}"
                android:shell="${profileable}"
                tools:targetApi="q" />
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
                android:exported="true"
                android:launchMode="singleInstance"
                android:supportsPictureInPicture="true"
                android:resizeableActivity="true"
                android:theme="@style/Theme.Cofi"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="rozpierog.github.io"/>
                <data android:pathPrefix="/"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
            <meta-data
                    android:name="default-url"
                    android:value="https://rozpierog.github.io/cofi" />
        </activity>
        <service android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote"/>
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="GHk02PLgh8us8I0IWfGJASgKQRUCi6iV" />
    </application>
</manifest>
